 <div>
    <label for="contact_first_name">First Name</label>
    <input id="contact_first_name" type="text" name="contact[first_name]" value="<%= @contact.first_name %>">
  </div>
  <div>
    <label for="contact_last_name">Last Name</label>
    <input id="contact_last_name" type="text" name="contact[last_name]"value="<%= @contact.last_name %>">
  </div>
  <div>
    <label for="contact_email">Email</label>
    <input id="contact_email" type="text" name="contact[email]"value="<%= @contact.email %>">
  </div>

