<h1>All Contacts</h1>
<div class="contacts">
  <ul>
    <% @contacts.each do |contact| %>
      <li><%= "#{contact.full_name}" " - " "#{ contact.email}" %><a href="/contacts/<%= contact.id %>">Show</a></li>
    <% end %>
  </ul>
</div>
