<html>
<head>
<style>
body, html {
    height: 100%;
}

.parallax {
    /* The image used */
    background-image: url('http://d1xenuxjgcz4dx.cloudfront.net/wp-content/uploads/2016/03/Idan-Raichel-Singer-Songwriter-Keeps-Quiet-Lets-His-Music-Do-the-Talking_SOURCE_Pixabay.jpg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#scrolling_info{
    background-color: transparent;
}
</style>
</head>
<body>

<div class="parallax"></div>

<div id="scrolling_info1" style="height:150px;font-size:36px">
who wrote it is a comprehensive interactive database of songs, their writers, and performers. 
</div>
<div id="scrolling_info2" style="height:150px;font-size:36px">
its purpose is to allow people access to know who has written some of their favorite songs
</div>

<div class="parallax"></div>

<footer class="w3-container w3-xlarge w3-padding-24">
    <a href="/" class="w3-left w3-button w3-white">Home</a>
    <a href="/about" class="w3-right w3-button w3-white">About</a>
</footer>
</body>
</html>
