<html>
<title>who wrote it</title>

<!-- Style -->
<style>
 #main{
  height: 1000px;
  background-image: url('http://d1xenuxjgcz4dx.cloudfront.net/wp-content/uploads/2016/03/Idan-Raichel-Singer-Songwriter-Keeps-Quiet-Lets-His-Music-Do-the-Talking_SOURCE_Pixabay.jpg');
  
  background-position: center;
 } 

 #search_box{
  background-color: transparent; 
  color: white;
  font-size: 200%;
 }

.search_button{
  height: 150%;
}

</style>


<!-- Body -->
<body class="home"> 


<div class="w3-light-grey w3-padding-64 w3-center" id="main">

<!-- Search -->
  <form style="margin:auto;width:60%;background-color: transparent;" action="/" method="post">
    
    <div class="w3-section">
      <input id="search_box" class="w3-input" type="text" name="song" placeholder="Search for songs" style="height: 70px; outline: none;">
    </div>
    <input type="submit" class="w3-button w3-block w3-dark-grey" id="search_button">
  </form>
  <br>
</div>
<!--  -->

<!-- Footer -->
<footer class="w3-container w3-xlarge w3-padding-24">
    <a href="/" class="w3-left w3-button w3-white">Home</a>
    <a href="/about" class="w3-right w3-button w3-white">About</a>
</footer>
 
</body>
</html>
