<html>
<title>who wrote it</title>


<!-- Footer / About Section -->
<footer class="w3-light-grey w3-padding-64 w3-center" id="about">

  <h2>who wrote it</h2>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIjR9DQ_8aYdeqDK3o7LZiTZEebrwP1qsWsKo2sXgO3XnjUoXCfQ" height="300">
  <form style="margin:auto;width:60%" action="/action_page.php" target="_blank">
    
<!--     <p class="w3-large w3-text-pink">Do not hesitate to contact me!</p>
 -->    <div class="w3-section">
      <label><b>Song</b></label>
      <input class="w3-input w3-border" type="text" required name="Name">
    </div>
<!--     <div class="w3-section">
      <label><b>Email</b></label>
      <input class="w3-input w3-border" type="text" required name="Email">
    </div>
    <div class="w3-section">
      <label><b>Message</b></label>
      <input class="w3-input w3-border" required name="Message">
    </div> -->
    <button type="submit" class="w3-button w3-block w3-dark-grey">Search</button>
  </form>
  <br>
</footer>
 
</body>
</html>
